<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>购物车</title>
        <link rel="icon" th:href="@{/static/imgs/shu_logo.ico}" type="image/x-icon">
        <link rel="stylesheet" th:href="@{/static/css/cart.css}">
        <script language="JavaScript" th:src="@{/static/js/vue.min.js}"></script>
        <script language="JavaScript" th:src="@{/static/js/axios.min.js}"></script>
        <script language="JavaScript" th:src="@{/static/js/showCart.js}"></script>
        <base th:href="@{/}">
    </head>
    <body>
        <div class="header">
            <div class="header w">
                <!-- logo部分 -->
                <div class="logo">
                    <a th:href="@{/page.do(operate='page',page='index')}">
                        <img th:src="@{/static/imgs/logo_product.png}" alt="">
                    </a>
                </div>
                <!-- 搜索栏 -->
            </div>
        </div>
        <div class="shop_body">
            <div class="photo">
                图片
            </div>
            <div class="name">
                名称
            </div>
            <div class="number">
                数量
            </div>
            <div class="money">
                单价
            </div>
            <div class="allmoney">
                总价格
            </div>
            <div class="skill">
                操作
            </div>
        </div>
        <!-- 下一个模块 -->
        <div class="container" id="cont">
            <div class="shop">
                <div class="items"  id="showCart">
                    <div class="item" v-for="cartItem in vueCartItemList">
                        <div class="item_boxss" v-if="cartItem.bookId != null">
                            <!-- 图片的盒子 -->
                            <div class="shop_img">
                                <img v-bind:src="'static/img_book/'+cartItem.bookId.bookImg+'.png'" alt="图片加载失败">
                            </div>
                            <div class="shop_name_box">
                                <div class="shop_name">{{cartItem.bookId.bookName}}</div>
                            </div>
                            <!-- 加减盒子 num_control -->
                            <form class="num_control">
                                <div class="num_minus">
                                    <span @click="addBuyCount(cartItem.id,cartItem.buyCount - 1)" class="minus">-</span>
                                </div>
                                <input type="text" v-bind:value="cartItem.buyCount" class="num"/>
                                <div class="num_plus">
                                    <span @click="addBuyCount(cartItem.id,cartItem.buyCount + 1)" class="plus">+</span>
                                </div>
                            </form>
                            <div class="total_price">
                                <span class="item_price_total" >￥{{cartItem.bookId.price}}元</span>
                            </div>
                            <div class="operation_price">
                                <span class="item_price_total">￥{{cartItem.totalPrice}}元</span>
                            </div>
                            <div class="operation_delete">
                                <div class="delete">
                                    <button class="del" @click="delCartItem(cartItem.id)">删除</button>
                                </div>
                            </div>
                        </div>
                        <div class="item_boxss" v-else="cartItem.bookId != null">
                            <!-- 图片的盒子 -->
                            <div class="shop_img">
                                <img v-bind:src="'static/img_book/'+cartItem.hotBookId.bookImg+'.png'" alt="图片加载失败">
                            </div>
                            <div class="shop_name_box">
                                <div class="shop_name">{{cartItem.hotBookId.bookName}}</div>
                            </div>
                            <!-- 加减盒子 num_control -->
                            <form class="num_control">
                                <div class="num_minus">
                                    <span @click="addBuyCount(cartItem.id,cartItem.buyCount - 1)" class="minus">-</span>
                                </div>
                                <input type="text" v-bind:value="cartItem.buyCount" class="num"/>
                                <div class="num_plus">
                                    <span @click="addBuyCount(cartItem.id,cartItem.buyCount + 1)" class="plus">+</span>
                                </div>
                            </form>
                            <div class="total_price">
                                <span class="item_price_total" >￥{{cartItem.hotBookId.price}}元</span>
                            </div>
                            <div class="operation_price">
                                <span class="item_price_total">￥{{cartItem.totalPrice}}元</span>
                            </div>
                            <div class="operation_delete">
                                <div class="delete">
                                    <button class="del" @click="delCartItem(cartItem.id)">删除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              <!-- 下面部分 -->
            <form>
                <div class="checkout">
                    <div>
                        <span class="select" @click="cleanCart">清空购物车</span>
                    </div>
                    <div class="cheked_num">已选商品
                        <div class="cheked_num">{{cartItemNum}}件</div>
                    </div>
                    <div class="total_price_1">合计
                        <div class="total_price_2">{{totalMoney}}</div>元
                    </div >
                    <div class="end">
                        <a th:href="@{/order.do(operate='checkOut')}" >结算</a>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>