<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>设置</title>
    <link rel="icon" th:href="@{/static/imgs/shu_logo.ico}" type="image/x-icon">
    <!-- 导入阿里的图标样式文件 -->
    <link rel="stylesheet" th:href="@{/static/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{/static/css/index_admin.css}">
    <link rel="stylesheet" th:href="@{/static/css/set_index.css}">
<!--    <script language="JavaScript" th:src="@{/static/js/personcenter/jquery-1.12.4.min.js}"></script>-->
<!--    <script language="JavaScript" th:src="@{/static/js/personcenter/text.js}"></script>-->
<!--    <script language="JavaScript" th:src="@{/static/js/personcenter/tinymce_setup.js}"></script>-->
    <script language="JavaScript" th:src="@{/static/js/vue.min.js}"></script>
    <script language="JavaScript" th:src="@{/static/js/axios.min.js}"> </script>
    <script language="JavaScript" th:src="@{/static/js/personcenter/text.js}"></script>

</head>
<body>
    <!-- 设置头部栏 -->
    <div class="hard_box">
        <div class="hard_logo">
            <img th:src="@{/static/imgs/logo_lr.png}" alt="logo">
        </div>
        <div class="hard_title">
            <h3>后台管理中心</h3>
        </div>
    </div>
    <div class="content">
        <div class="menu-box">
            <!-- 展示与隐藏侧边栏 开始-->
            <input type="checkbox" id="menu-btn">
            <label for="menu-btn"><i class="iconfont icon-yemianfanhui"></i></label>
            <!-- 展示与隐藏侧边栏 结束-->
            <div class="menu">
                <div class="menu-item">
                    <input type="checkbox" id="menu-item1">
                    <label for="menu-item1">
                        <i class="menu-item-icon iconfont icon-a-01-shujuzhongxin"></i>
                        <span>图书管理</span>
                        <i class="menu-item-last iconfont icon-down"></i>
                    </label>
                    <div class="menu-content">
                        <span>
                            <a th:href="@{/page.do(operate='page',page='admin/book_one')}">进货详情</a>
                        </span>
                        <span>
                            <a th:href="@{/page.do(operate='page',page='admin/book_two')}">销售详情</a>
                        </span>
                        <span>
                            <a th:href="@{/page.do(operate='page',page='admin/book_three')}">库存信息</a>
                        </span>
                    </div>
                </div>
                <div class="menu-item">
                    <input type="checkbox" id="menu-item2">
                    <label for="menu-item2">
                        <i class="menu-item-icon iconfont icon-a-02-kechengguanli"></i>
                        <span>浏览纪录</span>
                        <i class="menu-item-last iconfont icon-down"></i>
                    </label>
                    <div class="menu-content">
                        <span>
                            <a th:href="@{/page.do(operate='page',page='admin/look_one')}"> 管理员登录时间</a>
                        </span>
                        <span>
                            <a th:href="@{/page.do(operate='page',page='admin/look_two')}"> 用户登录时间</a>
                        </span>
                    </div>
                </div>
                <div class="menu-item">
                    <input type="checkbox" id="menu-item3">
                    <label for="menu-item3">
                        <i class="menu-item-icon iconfont icon-a-04-zixunfabu"></i>
                        <span>用户管理</span>
                        <i class="menu-item-last iconfont icon-down"></i>
                    </label>
                    <div class="menu-content">
                        <span>
                            <a th:href="@{/page.do(operate='page',page='admin/user_one')}">页面停留时间</a>
                        </span>
                        <span>
                            <a th:href="@{/page.do(operate='page',page='admin/user_two')}">个性化推荐</a>
                        </span>
                        <span>
                            <a th:href="@{/page.do(operate='page',page='admin/user_three')}">用户信息</a>
                        </span>
                    </div>
                </div>
                <div class="menu-item">
                    <input type="checkbox" id="menu-item4">
                    <label for="menu-item4">
                        <i class="menu-item-icon iconfont icon-a-04-zixunfabu"></i>
                        <span>财务管理</span>
                        <i class="menu-item-last iconfont icon-down"></i>
                    </label>
                    <div class="menu-content">
                        <span>
                            <a th:href="@{/page.do(operate='page',page='admin/money_one')}">入库价格</a>
                        </span>
                        <span>
                            <a th:href="@{/page.do(operate='page',page='admin/money_two')}">销售价格</a>
                        </span>
                        <span>
                            <a th:href="@{/page.do(operate='page',page='admin/money_three')}">营业额</a>
                        </span>
                    </div>
                </div>
                <div class="menu-item">
                    <label style="color: #2DC2AB;">
                        <i class="menu-item-icon iconfont icon-a-08-shezhi"></i>
                        <span id="set" >
                            <a th:href="@{/page.do(operate='page',page='admin/set_index')}" style="color: #2DC2AB;">设置</a>
                        </span>
                    </label>
                </div>
            </div>
            <div class="text_max_box" id="modify">
                <!-- 添加用户 -->
                <div class="text_title_box">
                    <span class="titless_lr">
                        <a th:href="@{/admin.do(operate='quitLogin')}">退出登录</a>
                    </span>
                </div>
                <div class="titless_box">
                    <span class="titless_allone">
                        添加用户
                    </span>
                </div>
                <div class="shuipingxian">
                </div>
                <div class="time_box_max">
                    <div class="time_box_title">
                        <div class="time_title_one">
                            <h3>
                                账号
                            </h3>
                        </div>
                        <div class="time_title_two">
                            <h3>
                                昵称
                            </h3>
                        </div>
                        <div class="time_title_three">
                            <h3>
                                密码
                            </h3>
                        </div>
                        <div class="time_title_four">
                            <h3>
                                上传头像
                            </h3>
                        </div>
                    </div>
                    <form class="time_text_box" th:action="@{/admin.do}" method="post">
                        <input type="hidden" name="operate" value="setUser"/>
                        <div class="id_text_box">
                            <input class="search-inp" name="bookId" type="text" placeholder="用户ID/用户编号"/>
                        </div>
                        <div class="name_text_box">
                            <input class="search-inp" name="uname" type="text" placeholder="用户昵称"/>
                        </div>
                        <div class="name_text_box">
                            <input class="search-inp" name="pwd" type="password" placeholder="请输入密码"/>
                        </div>
                        <div class="id_text_box">
                            <input class="search" name="headImg" type="file" placeholder=""/>
                        </div>
                        <div class="btn">
                            <button class="btn_button" type="submit" >提交</button>
                        </div>
                    </form>
                </div>
                <div class="xian_two">
                </div>
                <!-- 添加图书 -->
                <div class="text_title_box">  
                </div>
                <div class="titless_box">
                    <span class="titless_allone">
                        添加图书
                    </span> 
                </div>
                <div class="shuipingxian">
                </div>
                <div class="time_box_max">
                    <div class="time_box_title">
                        <div class="time_title_one">
                            <h3>
                                图书编号
                            </h3>
                        </div>
                        <div class="time_title_two">
                            <h3>
                                图书名称
                            </h3>
                        </div>
                        <div class="time_title_three">
                            <h3>
                                图书价格
                            </h3>
                        </div>
                        <div class="time_title_four">
                            <h3>
                                上传图片
                            </h3>
                        </div>
                    </div>
                    <form class="time_text_box" th:action="@{/admin.do}" method="post">
                        <input type="hidden" name="operate" value="setBook"/>
                        <div class="id_text_box">
                            <input class="search-inp" name="bookId" type="text" placeholder="图书ID/图书编号"/>
                        </div>
                        <div class="name_text_box">
                            <input class="search-inp" name="bookName" type="text" placeholder="图书名称"/>
                        </div>
                        <div class="name_text_box">
                            <input class="search-inp" name="bookPrice" type="text" placeholder="图书价格"/>
                        </div>
                        <div class="id_text_box">
                            <input class="search" name="bookImg" type="file"/>
                        </div>
                        <div class="btn">
                            <button class="btn_button" type="sumbit" >提交</button>
                        </div>
                    </form>
                </div>
                <div class="xian_two">
                </div>
                <!-- 添加商品 -->
                <div class="text_title_box"> 
                </div>
                <div class="titless_box">
                    <span class="titless_allone">
                        添加商品
                    </span> 
                </div>
                <div class="shuipingxian">
                </div>
                <div class="time_box_max">
                    <div class="time_box_title">
                        <div class="time_title_one">
                            <h3>
                                茶叶/茶壶编号
                            </h3>
                        </div>
                        <div class="time_title_two">
                            <h3>
                                名称
                            </h3>
                        </div>
                        <div class="time_title_three">
                            <h3>
                                价格
                            </h3>
                        </div>
                        <div class="time_title_four">
                            <h3>
                                上传图片
                            </h3>
                        </div>
                    </div>
                    <form class="time_text_box" th:action="@{/admin.do}" method="post" id="setImg">
                        <input type="hidden" name="operate" value="setTea"/>
                        <div class="id_text_box">
                            <input class="search-inp" name="teaId" type="text" placeholder="商品ID/商品编号"/>
                        </div>
                        <div class="name_text_box">
                            <input class="search-inp" name="teaName" type="text" placeholder="商品名称"/>
                        </div>
                        <div class="name_text_box">
                            <input class="search-inp" name="teaPrice" type="password" placeholder="商品价格"/>
                        </div>
                        <div class="id_text_box">
                            <input class="search" id="file" name="teaImg" v-model="teaImg" type="file"/>
                        </div>
                        <div class="btn">
                            <button class="btn_button" type="sumbit" >提交</button>
                        </div>
                    </form>
                </div>
                <div class="xian_two">
                </div>
            </div>  
        </div>
    </div>
</body>
</html>