<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
    <link rel="icon" th:href="@{/static/imgs/shu_logo.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/static/css/user_all.css}">
    <script type="text/javascript" th:src="@{/static/js/personcenter/jquery-1.12.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/personcenter/user_base_info.js}"></script>
</head>
<body class="inframe_body">
    <form class="pass_info" th:action="@{/user.do}" method="post">
        <input type="hidden" name="operate" value="modifyPwd"/>
        <h3>密码修改</h3>
        <div class="form-group">
            <label>当前密码：</label>
            <input type="password" name="curPwd" class="input_txt">
        </div>
        <div class="form-group">
            <label>新密码：</label>
            <input type="password" name="newPwd" class="input_txt">
        </div>
        <div class="form-group">
            <label>确认密码：</label>
            <input type="password" name="confirmPwd" class="input_txt">
        </div>
       <div class="error_tip">提示信息</div>
        <div class="form-group">
                <input type="submit" value="保 存" class="input_sub">
        </div>
    </form>
</body>
</html>