<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>用户中心</title>
	<link rel="icon" th:href="@{/static/imgs/shu_logo.ico}" type="image/x-icon">
	<link rel="stylesheet" href="http://www.y1360.com/static_index/js/ajaxfileupload.js">  <!-- 提交图片 -->
	<link rel="stylesheet" th:href="@{/static/css/user_all.css}">
	<script type="text/javascript" th:src="@{/static/js/personcenter/jquery-1.12.4.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/personcenter/jquery.form.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/personcenter/user_main.js}"></script>
</head>
<body>
	<div class="header_con">
		<div class="header">
			<a th:href="@{/page.do(operate='page',page='index')}" class="logo fl">
				<img th:src="@{/static/imgs/user_logo.png}" alt="logo">
			</a>
			<div class="header_title_box">
			</div>
			<div class="user_login fr" style="display: block;">
				<img th:src="@{|/static/imgs/${session.currUser.headImg}|}" class="lgin_pic">
				<a href="#" th:text="${session.currUser.uname}">张三</a>
				<a th:href="@{/user.do(operate='quitLogin')}" style="color: rgb(0, 255, 170);font-size: 15px;">退出登录</a>
			</div>
		</div>
	</div>
	
	<div class="conter_con">
		<div class="user_menu_con fl">
			<div class="user_center_pic">
				<img id="img" th:src="@{|/static/imgs/${session.currUser.headImg}|}" alt="用户图片">
			</div>
			<div class="user_center_name" th:text="${session.currUser.uname}">张三</div>
			<ul class="option_list">
				<li class="active"><a th:href="@{/page.do(operate='page',page='personcenter/user_base_info')}" target="main_frame">基本资料</a></li>
				<li><a th:href="@{/page.do(operate='page',page='personcenter/user_pic_info')}" target="main_frame">头像设置</a></li>
				<li><a th:href="@{/page.do(operate='page',page='personcenter/user_pass_info')}" target="main_frame">密码修改</a></li>
				<li><a th:href="@{/page.do(operate='page',page='personcenter/user_collection')}" target="main_frame">我的收藏</a></li>
				<li><a th:href="@{/page.do(operate='page',page='personcenter/user_news_release')}" target="main_frame">发布内容</a></li>
				<li><a th:href="@{/page.do(operate='page',page='cart/cart')}">购物车</a></li>
				<li><a th:href="@{/page.do(operate='page',page='order/order')}">我的订单</a></li>
			</ul>
		</div>
		<div class="user_con fr">
			<iframe th:src="@{/page.do(operate='page',page='personcenter/user_base_info')}" frameborder="0" name="main_frame" class="main_frame" id="main_frame"></iframe>
		</div>
	</div>
	<div class="footer">		
		<div class="footer_links">
			<a href="">关于我们</a>
			<span>|</span>
			<a href="">联系我们</a>
			<span>|</span>
			<a href="">招聘人才</a>
			<span>|</span>
			<a href="">友情链接</a>
		</div>
		<p class="copyright">
			CopyRight © 2022  易诚书苑有限公司 YiCheng Academy<br />
电话：04**-****888    京ICP备*******8号
		</p>
	</div>
</body>
</html>