<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
    <link rel="icon" th:href="@{/static/imgs/shu_logo.ico}" type="image/x-icon">
    <script th:src="@{/static/js/personcenter/jquery-min.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/user_all.css}">
    <script type="text/javascript" th:src="@{/static/js/personcenter/user_pic_info.js}"></script>
    <script th:src="@{/static/js/personcenter/text.js}"></script>
</head>
<body class="inframe_body">
            <form class="pic_info">
                <h3>头像设置</h3>
                <div class="form-group">
                    <label class="label01">当前图像：</label>
                    <img id="img" th:src="@{|/static/imgs/${session.currUser.headImg}|}" alt="用户图片" class="now_user_pic">
                </div>
                <div class="form-group">
                    <label>上传图像：</label>
                    <input type="file" onchange="upload(this)"  id="file" class="input_file">
                </div>

                <div class="form-group btn btn-tj">
                    <input type="hidden" value="" name="newhead" id="newhead" />
                    <input type="submit" value="保 存" onclick="fileBtn()" class="input_sub myBtn">
                </div>
            </form>

</body>
</html>