<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文学类</title>
    <link rel="icon" th:href="@{/static/imgs/shu_logo.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/static/css/base.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css">
    <link rel="stylesheet" th:href="@{/static/css/four_class.css}">

    <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css">
    <link rel="stylesheet" href="https://www.jq22.com/jquery/font-awesome.4.7.0.css">
    <link rel="stylesheet" th:href="@{/static/plugins/indext-icons/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/wenxue_class.css}">
</head>
<body id="productsss">
    <div class="topbar-one">
        <div class="container">
            <div class="topbar-one__left">
                <div class="topbar-one__social">
                    <a href="https://www.qq.com/"><i class="fa fa-qq"></i></a>
                    <a href="https://weixin.qq.com/"><i class="fa fa-weixin"></i></a>
                    <a href="https://weibo.com"><i class="fa fa-weibo"></i></a>
                    <a href="https://www.baidu.com/"><i class="fa fa-rss"></i></a>
                </div>
            </div>
            <div class="topbar-one__right">
                <div class="topbar-one__links">
                    <a href="#" class="topbar-one__search search-popup__toggler">
                        <i class="indext-icon-Search"></i>
                    </a>
                    <a th:href="@{/love.do(operate='getLoveList')}" class="topbar-one__cart">
                        <i class="indext-icon-Bag"></i>
                    </a>
                    <a th:href="@{/page.do(operate='page',page='contact/contact')}" class="topbar-one__link">
                        <i class="indext-icon-envelope"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- 头部开始 -->
    <div class="header_box">
        <!-- logo部分 -->
        <div class="logo">
            <h1>
                <a th:href="@{/page.do(operate='page',page='index')}" title="易诚书苑">
                    <img th:src="@{/static/imgs/logo_product.png}" alt=""/>
                </a>
            </h1>
        </div>
        <!-- 搜索栏 -->
        <div class="search">
            <form action="#">
                <input type="search" placeholder="请输入图书名称">
                <button type="submit">搜索</button>
            </form>
        </div>
        <!-- 购物车模块 -->
        <div class="shopcar">
            <a th:href="@{/page.do?operate=page&page=cart/cart}">我的购物车</a>
        </div>
    </div>
    <!-- 头部结束 -->


    <!-- 设置折叠菜单 -->
    <div id="zhed_dh">
        <input type="checkbox" id="check"/>
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>
        <div class="sidebar">
            <header>文学类</header>
            <ul>
                <li>
                    <a href="#"><i class="fas fa-qrcode"></i>诗歌词曲</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-link"></i>民间文学</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-stream"></i>青春文学</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-calendar-week"></i>纪实文学</a>
                </li>
            </ul>
        </div>
        <section class="wenxue_section"></section>
    </div>
    <div class="tea_all">
        <div class="tea_all_box">
            <div class="one_boxss" th:each="book : ${session.bookTypeAList}">
                <div class="shop-one__single">
                    <div class="shop-oneimg">
                        <img th:src="@{|/static/img_book/${book.bookImg}.png|}" alt="Awesome Image" />
                        <div class="shop-one__btn__wrap">
                            <a th:href="@{/love.do(operate='showLove',id=${book.id})}" class="shop-one__btn-love"><i class="indext-icon-love"></i></a>
                            <a href="#" class="shop-one__btn-view"><i class="indext-icon-search-left"></i></a>
                            <a th:href="@{/cart.do(operate='addCartItem',bookId=${book.id},log='wenx')}" class="thm-btn shop-one__cart">加入购物车</a>
                        </div>
                    </div>
                    <div class="shop-one__content">
                        <h3 class="shop-one__title">
                            <a th:text="${book.bookName}" href="product.html">
                                三国演义
                            </a>
                        </h3>
                        <p class="shop-one__price">
                            <span class="shop-one__price-sale" th:text="|￥${book.price}|">
                                ￥208.00
                            </span>
                            <span class="shop-one__price-regular" th:text="|￥${book.random}|">
                                ￥380.70
                            </span>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
   
    <!-- 设置尾部 -->
    <footer class="site-footer">
        <div class="site-footer__upper">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-5">
                        <div class="footer-widget footer-widget__about-widget">
                            <a th:href="@{page.do(operate='page',page='index')}"><img th:src="@{/static/imgs/logo_product.png}" width="271"
                                    class="footer-widget__logo" alt=""></a>
                            <p class="footer-widget__text">
                                随着信息时代的日新月异，仅仅可触及的纸质实体难以满足当代人们对于自我精神的满足，他们越来越追求便捷式的阅读方式——电子阅读。通过此发展趋势，我们利用数字化的技术设计网上阅览平台,
                                记录用户的个人喜好进行数据分析,提供用户感兴趣的书籍, 将网络和现实互相结合,进而实现网购互补一体化，使我们的用户畅享国内外书海,因此我们打造网购互补平台将是大势所趋。</p>
                            <div class="footer-widget__social">
                                <a href="https://im.qq.com/index" class="fa fa-qq"></a>
                                <a href="https://weixin.qq.com" class="fa fa-weixin"></a>
                                <a href="https://weibo.com/login.php/" class="fa fa-weibo"></a>
                                <a href="https://www.baidu.com/" class="fa fa-rss"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="footer-widget footer-widget__links-widget">
                            <h2 class="footer-widget__title">快速链接</h2>
                            <ul class="footer-widget__links list-unstyled">
                                <li><a th:href="@{/page.do(operate='page',page='index')}"> 进入首页</a></li>
                                <li><a th:href="@{/page.do(operate='page',page='personcenter/user')}"> 个人中心</a></li>
                                <li><a th:href="@{/page.do(operate='page',page='search/bookclass')}"> 易诚书库</a></li>
                                <li><a th:href="@{/page.do(operate='page',page='tea/come_tea')}"> 易诚茶坊</a></li>
                                <li><a th:href="@{/page.do(operate='page',page='admin/login_admin')}"> 管理中心</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="footer-widget footer-widget__contact-widget">
                            <h2 class="footer-widget__title">联系信息</h2>
                            <p class="footer-widget__text">**省**市**区<br> *****街道 ****号
                            </p>
                            <p class="footer-widget__text">传真：0***-8******</p>
                            <p class="footer-widget__text">客服热线：0***-*****</p>
                            <p class="footer-widget__text">邮箱：***********@163.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-footer__bottom">
            <div class="container">
                <div class="site-footer__copy"><a href="#">Copyright </a> <i class="fa fa-copyright"></i> 2022 易诚书苑有限公司
                    版权所有</div>
                <div class="site-footer__copy"><i class="fa fa-copyright"></i>京ICP备*******8号</div>
                <ul class="list-unstyled site-footer__links">
                    <li><a href="#">服务条款</a></li>
                    <li><a href="#">隐私政策</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- 设置搜索框 -->
    <div class="search-popup">
        <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div>
        <div class="search-popup__inner">
            <form th:action="@{/user.do}" method="post" class="search-popup__form">
                <input type="hidden" name="operate" value="jumpPage">
                <input type="text" name="page" placeholder="全站搜索">
                <button type="submit"><i class="indext-icon-Search"></i></button>
            </form>
        </div>
    </div>
    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="indext-icon-arrow-up"></i></a>
    <script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/static/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/static/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/static/js/isotope.js}"></script>
    <script th:src="@{/static/js/jquery.counterup.min.js}"></script>
    <script th:src="@{/static/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/static/js/jquery.validate.min.js}"></script>
    <script th:src="@{/static/js/owl.carousel.min.js}"></script>
    <script th:src="@{/static/js/TweenMax.min.js}"></script>
    <script th:src="@{/static/js/waypoints.min.js}"></script>
    <script th:src="@{/static/js/wow.min.js}"></script>

    <script th:src="@{/static/js/nouislider.js}"></script>
    <script th:src="@{/static/js/jquery.bootstrap-touchspin.min.js}"></script>
    <script th:src="@{/static/js/theme.js}"></script>
    <script th:src="@{/static/js/personcenter/user_main.js}"></script>
</body>
</html>