/* 设置导航栏外部容器 */
.dh_maxbox{
    width: 100%;
    height: 80px;
    background-image: url(http://localhost:8080/ECBookGarden/static/imgs/class_img.png);
}

/* 设置导航栏容器 */
.dh_box{
    width: 1300px;
    height: 80px;
    /* background-color: aqua; */
    margin: auto;
}

/* 设置logo容器 */
.dh_box_img{
    width: 320px;
    height: 80px;
    float: left;
    /* background-color: #F2C950; */
    margin: 0 auto;
    /* 转换为块元素 */
    display: block;
    text-align: center;
}

/* 设置logo栏标题 */
.dh_box_title{
    width: 980px;
    height: 80px;
    /* background-color: aliceblue; */
}

.dh_box_title h3{
    font-size: 35px;
    /* color: #ffffff; */
    text-align: center;
    margin: auto;
    padding: 20px 0;
    font-weight: bold;
}
/* 设置下拉菜单容器 */
.dh_div{
    width: 100%;
    height: 50px;
    margin-top: -15px;
    background-color: #67c574;
    
}
#dh{
    position: relative;
    margin-top: 0px;
    width: 1000px;
    height:50px;
    border: 0px;
    background-color: #67c574;
}
#dh .dh_min_box{
    padding: 0px;
    
}
.dh_min_box a{
    color: #FFF;
    width: 200px;
    height: 50px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-family: Microsoft Yahei;
    font-weight: 2px;
    font-size: 25px;
}
#dh {
    margin: auto; 
}
#dh .dh_min_box li {
    list-style: none;
    float: left;
}
/* 点击时父类按钮变色 */
#dh .dh_min_box li a:hover{
    background-color: #11DBAF;
}
/* 块元素 */
#dh .dh_min_box:hover{
    display: block;
}

#dh .dh_min_box li ul{
    background-color: #00cc55;
    position: absolute;
    display: none;
}
#dh .dh_min_box li ul li{
    float: none;
    background-color: #6db873;
}
/* 变化子类元素字体大小 */
#dh .dh_min_box li ul li a{
    font-size: 20px;
    font-weight: 0px;
}
#dh .dh_min_box li:hover ul{             /*二级菜单的触发点*/
    display: block;
}
/* 设置图片容器 */
/* 设置图片容器 */
.read_img{
	width: 1200px;
	height: 450px;
	margin: auto;
}
.read_img img{
	width: 100%;
	height: 100%;
}







.tea_alls{
	display: flex;
	width: 1350px;
	height: 100%;
	margin: auto;
    /*background-color: #11dbaf;*/
}
.tea_all_boxs{
	width: 1350px;
	min-height: 840px;
	padding: 20px 5px 20px 20px;
}
.one_boxss{
	width: 265px;
	height: 400px;
	float: left;
	margin-bottom: 30px;	
}
.shop-one__single {
	margin-bottom: 50px;
	text-align: center;
}

.shop-one__single:hover .shop-one__image:before {
	opacity: .4;
}

.shop-one__single:hover .shop-one__btn__wrap {
	opacity: 1;
	-webkit-transform: perspective(70px) translateZ(0px);
	transform: perspective(70px) translateZ(0px);
}
.related-product__carousel .shop-one__single {
	margin-bottom: 0;
}

.shop-oneimg {
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
	width: 250px;
	height: 320px;
}

.shop-oneimg:before {
	content: '';
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.shop-oneimg>img {
	width: 100%;
	height: 100%;
}

.shop-one__btn__wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	opacity: 0;
	-webkit-transform: perspective(70px) translateZ(10px);
	transform: perspective(70px) translateZ(10px);
	position: absolute;
	bottom: 0;
	margin-bottom: 20%;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}
.shop-one__title {
	font-size: 17px;
	color: #222222;
	font-weight: 500;
	font-family: "Rubik";
	font-size: 18px;
}

.shop-one__title a {
	color: inherit;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.shop-one__title a:hover {
	color: #ff5860;
}
.shop-one__price {
	margin: 0;
	color: #222222;
	font-size: 16px;
	font-weight: 600;
}

.shop-one__price-regular {
	opacity: .5;
	text-decoration: line-through;
	margin-left: 5px;
}
.shop-one__price-regular {
	opacity: .5;
	text-decoration: line-through;
	margin-left: 5px;
}
