body{
    background-color: #c8efd2;
}
.w{
    width: 1200px;
    margin: 0 auto;
}
.fl{
    float: left;
}
.shortcut{
    height: 31px;
    background-color: #db6c11b0;
    line-height: 31px;
}
.shortcut ul li{
    float: left;
}

/* 头部制作 */
.header{
    position: relative;
    height: 105px;
}
/* logo制作 */
.logo{
    position: absolute;
    top: 25px;
    width: 271px;
    height: 67px;
}
/*.logo a {*/
/*    display: block;*/
/*    width: 271px;*/
/*    height: 67px;*/
/*    font-size: 0;*/
/*    background-image: url(http://localhost:8080/ECBookGarden/static/imgs/logo_product.png) ;*/
/*    }*/

.shop_body{
    margin-top: 50px;
    width: 1000px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #deb2b2;
}

.photo{
    margin-left: 85px;
    float: left;
    width: 100px;
    height: 40px;
    font-size: 25px;
    display: flex;
}
.name{
    float: left;
    width: 130px;
    height: 40px;
    font-size: 25px;
    display: flex;
    margin-left: 45px;
}
.number{
    margin-left: 50px;
    float: left;
    width: 150px;
    height: 40px;
    font-size: 25px;
    display: flex;
}
.money{
    float: left;
    width: 150px;
    height: 40px;
    font-size: 25px;
    display: flex;
    margin-left: 20px;
}
.allmoney{
    float: left;
    width: 140px;
    height: 40px;
    font-size: 25px;
    display: flex;
    margin-left: 20px;
}
.skill{
    float: right;
    width: 100px;
    height: 40px;
    font-size: 25px;
    display: flex;
}
/* 中间界面 */
.container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.items{
    border: .1px solid #eaa0a0;
}
.item{
    display: flex;
  /*   margin: 20px; */
}

.item_boxss{
    min-height: 160px;
    width: 1000px;
}
/* 图片的盒子 */
.shop_img{
    float: left;
    height: 160px;
    width: 160px;
    margin-left: 10px;
    margin-right: 10px;
}
.shop_img img{
    width: 100%;
    height: 100%;
}
.shop_name_box {
    float: left;
    width: 170px;
}
.shop_name {
    width: 170px;
    margin-left: 18px;
    margin-top: 50px;
    font-size: 20px;
}
.num_control {
    float: left;
    width: 150px;
    margin-left: 25px;
    margin-top:46px ;
    font-size: 25px;
}
.num_control a{
text-decoration: none;
}

.num{
    width: 40px;
    height: 15px;
    text-align: center;
}
.num_minus,.num_plus{
    width:20px;
    height: 15px;
    display: inline-block;
    border:1px solid #ebe9e9;
    margin-top: 8px;
    line-height: 9px;
    text-align: center;
    cursor: pointer;
}


.total_price{
    float: left;
width: 180px;
}

.item_price_total{
    width: 130px;
    margin-left: 30px;
    line-height:130px ;
    font-size: 25px;
    color: red;
}
.delete{
    float: right;
    line-height: 130px;
    margin-right: 50px;
}
.operation_price{
    float: left;
    height: 160px;
    width: 150px;   
}
.operation_delete{
    float: left;
    width: 139px;
    height: 160px;
}
.operation a{
    text-decoration: none;
    color:yellowgreen;
}
.operation a:hover{
    color: greenyellow;
}
/* 下面部分 */
.all{
font-size: 100px;
}
.select{
    font-size:20px;
    cursor: pointer;
}
.select:hover{
    color: #eb1e4e;
}
.checkout{
 display: flex;
 justify-content: space-between;
}
.cheked_num{
 display: flex;
}
.total_price_1{
 font-size: 20px;
 display: flex;
 margin-right: 10px;
}
.end{
    height: 30px;
    width: 100px;
    border:1px solid rgba(17, 219, 155, 0.85);
    border-radius: 5px;
    background-color: #F53E3E;
    text-align: center;
}

.end a{
 text-decoration: none;
 color:black;
 font-size: 20px;


}
.end a:hover{
 color: #ff2f71;
}
.cheked_num{
 font-size: 20px;
}
.total_price{
 font-size: 20px;
}

.del{
    cursor: pointer;
}
.der:hover{
    color: #1eeb51;
}

