/* 声明字体图标 这里一定要注意路径的变化 */
@font-face {
    font-family: 'icomoon';
    src:  url('http://localhost:8080/ECBookGarden/static/font/icomoon.eot?tomleg');
    src:  url('http://localhost:8080/ECBookGarden/static/font/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
      url('http://localhost:8080/ECBookGarden/static/font/icomoon.ttf?tomleg') format('truetype'),
      url('http://localhost:8080/ECBookGarden/static/font/icomoon.woff?tomleg') format('woff'),
      url('http://localhost:8080/ECBookGarden/static/font/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

/* 版心 */
.w{
    width: 1200px;
    margin: 0 auto;
}
/* 免费注册变红 */
/* .style_red{
    color: red;
} */

.fl{
    float: left;
    
}

/* .fr{
    float: right;
}
 */
.shortcut{
    height: 31px;
    background-color: #db6c11b0;
    line-height: 31px;
}
.shortcut ul li{
    float: left;
}

/* 头部制作 */
.header{
    position: relative;
    height: 105px;
  /*   background-color: pink; */
}
/* logo制作 */
.logo{
    position: absolute;
    top: 25px;
    width: 271px;
    height: 67px;
    

}
.logo a {
    display: block;
    width: 271px;
    height: 67px;
    background:url(http://localhost:8080/ECBookGarden/static/imgs/logo.png) no-repeat;
    font-size: 0;

}
.search{
    float: right;
    position:absolute;
    left: 344px;
    top: 43px;
    width: 538px;
    height: 36px;
    border:2px solid #b1191a ;
}
.search input{
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;
}
.search .button{
    float: left;
    height: 33px;
    width: 80px;
    background-color:#db6c11b0;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.shopcar{
    position: absolute;
    right: 60px;
    top: 43px;
    line-height: 35px;
    text-align: center;
    width: 140px;
    height: 35px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;

}
/* 小购物车图片 */
.shopcar::before{
    content:'\e93a';
    font-family: 'icomoon';
    margin-right: 10px;
    color:#db6c11b0 ;
}
/* 小>图片 */
.shopcar::after{
    content:'\e920';
    font-family: 'icomoon';
    margin-left: 5px;
}


/* nav模块 */
.nav{
    height: 0px;
    border-bottom: 2px solid #b1191a;
}
 
/* 列表部分 */
 .sk_hd img{
    width: 1200px;
    height: 300px;
    text-align: center;
}

.box{
    width: 1200px;
    height: 500px;
}

/* 商品图片的盒子 */
.sk_bd ul li{
    width: 240px;
    height: 400px;
    float: left;
    padding: 10px 5px;
}
.money{
    font-size: 25px;
    font-weight: bolder;   /*      */
    color:red;
    }
    .size{
        font-size: 18px;
        text-align: center;
        color: black;
    }

.box_oneimg{
    width: 100%;
    height: 250px;
}

.sk_bd ul li img{
    width: 100%;
    height: 100%;

}
/* 鼠标点击时变换颜色 */
.sk_bd ul li:hover{
    border:1px solid #db6c11b0;
}

/* 包裹购物车和收藏的盒子 */
.e{
    position: absolute;
    float: left;
    width: 240px;
    height: 37px;
    margin: 0;
    padding: 0;


}
.shop{
    position: relative;
    float: left;
    width: 115px;
    height:30px;
    font-size: 17px;
    text-align: center;
   background-color: yellow;
    
    /* 字体变斜 */
    font-style: oblique;
    }
.like{
    position: relative;
    float: left;
    width: 115px;
    height: 30px;
    text-align: center;
    font-size: 17px;
    font-style: oblique;
    background-color:pink
 
}

.shop a {
    display: block;
    width: 115px;
    height:30px;
    color: black;
    text-align: center;
    }
.like a {
        display: block;
        width: 115px;
        height: 30px;
        color: black;
    }

.buy{
    padding: 30px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(224, 73, 73);
    height: 60px;
    
    
   
}
.buy_1{
    color: red;
    color: #fff;
    line-height: 10px;
    text-align: center;

}
    
