/* 主页面样式 */


* {
    margin: 0;
    padding: 0;
    /* css3盒子模型 */
    box-sizing: border-box;
    /* background-color: aqua; */
    
}
.beijing{
    width: 100%;
    height: 100vh;
    z-index: -100;
    position: fixed; 
    min-width: 100%; 
    min-height: 110vh;
    height: auto;
    z-index: -100;
    background-size: cover;

}
.beijing>img{
    width: 100%;
    height: 100%;
}
/*
* 2. topbar styles
*/
.topbar-one {
	background-color: #1B1C38;
	padding: 13px 0;
}
.container{
    width: 1100px;
    margin: auto;
}
.topbar-one .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

@media (max-width: 991px) {
	.topbar-one .container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

@media (max-width: 991px) {
	.topbar-one__left {
		margin-bottom: 15px;
	}
}

.topbar-one__social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.topbar-one__social a {
	font-size: 13px;
	color: rgba(255, 255, 255, 0.5);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.topbar-one__social a+a {
	margin-left: 30px;
}

.topbar-one__social a:hover {
	color: #ff5860;
}

.topbar-one__links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

@media (max-width: 767px) {
	.topbar-one__links a {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 50%;
		flex: 1 1 50%;
		text-align: center;
	}
}

.topbar-one__links a+a {
	padding-left: 30px;
	margin-left: 30px;
	border-left: 1px dashed rgba(225, 227, 226, 0.2);
}

@media (max-width: 767px) {
	.topbar-one__links a+a {
		padding-left: 0;
		margin-left: 0;
		border: none;
	}
}

.topbar-one__search,
.topbar-one__cart {
	font-size: 19px;
	color: rgba(255, 255, 255, 0.5);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

@media (max-width: 767px) {

	.topbar-one__search,
	.topbar-one__cart {
		border-bottom: 1px dashed rgba(225, 227, 226, 0.2) !important;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
}

@media (max-width: 425px) {

	.topbar-one__search,
	.topbar-one__cart {
		margin-bottom: 0;
	}
}

.topbar-one__search:hover,
.topbar-one__cart:hover {
	color: #fff;
}

.topbar-one__link {
	color: rgba(255, 255, 255, 0.7);
	font-size: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.topbar-one__link:hover {
	color: #fff;
}

.topbar-one__link i {
	color: #ff5860;
	font-size: 18px;
	margin-right: 10px;
}

@media (max-width: 425px) {
	.topbar-one__link {
		text-align: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-top: 10px;
	}
}

@media (max-width: 375px) {
	.topbar-one__link {
		-webkit-box-flex: 1 !important;
		-ms-flex: 1 1 100% !important;
		flex: 1 1 100% !important;
	}
}
/*
* 6. search-popup styles
*/
.search-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	-webkit-transform: scale(1, 0);
	transform: scale(1, 0);
	-webkit-transform-origin: bottom center;
	transform-origin: bottom center;
	-webkit-transition: -webkit-transform .7s ease;
	transition: -webkit-transform .7s ease;
	transition: transform .7s ease;
	transition: transform .7s ease, -webkit-transform .7s ease;
}

.search-popup.active {
	-webkit-transform-origin: top center;
	transform-origin: top center;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}

.search-popup__overlay {
	width: 100%;
	height: 100%;
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	opacity: .7;
	cursor: none;
}

.search-popup__inner {
	position: absolute;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.search-popup__form {
	position: relative;
	z-index: 9991;
	width: 100%;
	padding: 15px;
	max-width: 600px;
	position: relative;
}

.search-popup__form input {
	background-color: transparent;
	border: none;
	outline: none;
	width: 100%;
	height: 60px;
	color: #222222;
	font-size: 18px;
	background-color: white;
	padding-left: 30px;
}

.search-popup__form input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #222222;
}

.search-popup__form input::-moz-placeholder {
	/* Firefox 19+ */
	color: #222222;
}

.search-popup__form input:-ms-input-placeholder {
	/* IE 10+ */
	color: #222222;
}

.search-popup__form input:-moz-placeholder {
	/* Firefox 18- */
	color: #222222;
}

.search-popup__form button[type=submit] {
	border: none;
	outline: none;
	width: 60px;
	height: 60px;
	color: #fff;
	background-color: #ff5860;
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 15px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.search-popup__form button[type=submit]:hover {
	background-color: #222222;
	color: #ff5860;
}

.max_box{
    /* 
        内容区（content），元素中的所有的子元素和文本内容都在内容区中排列  
            内容区的大小由width 和 height两个属性来设置
                width 设置内容区的宽度
                height 设置内容区的高度
    */
    margin: 0 auto;
    padding: 0px;
    width: 100%;
    height: 100%;
    /* background-color: aliceblue; */
    /* background-color: rgb(255,205,66); */
    /* background-color: #D8EADE; */
    background-position: center;

    /* 
    background-image: url("img_lyj.jpg") 
    背景图片
    
    */
    /* 
        边框（border），边框属于盒子边缘，边框里边属于盒子内部，出了边框都是盒子的外部
            边框的大小会影响到整个盒子的大小
        要设置边框，需要至少设置三个样式：
            边框的宽度 border-width
            边框的颜色 border-color
            边框的样式 border-style
    */
    /* border-width: 5px;
    border-color: orchid rgb(53, 240, 99) yellow greenyellow;
    border-style: solid; */
    /* padding: 10px; */

    /* 
        外边距（margin）
            - 外边距不会影响盒子可见框的大小
            - 但是外边距会影响盒子的位置
            - 一共有四个方向的外边距：
                margin-top
                    - 上外边距，设置一个正值，元素会向下移动
                margin-right
                    - 默认情况下设置margin-right不会产生任何效果
                margin-bottom
                    - 下外边距，设置一个正值，其下边的元素会向下移动
                margin-left
                    - 左外边距，设置一个正值，元素会向右移动
    */
    /* margin-top: 10px;
    margin-left: 10px; */
}

 /* 设置logo背景 */
 .logo_box{
    width: 100%;
    height: 100px;
    margin: auto;
    /* background-image: url(../img/logobj.png); */
}
/* 设置logo */
.logo{
    width: 400px;
    height: 100px; 
    margin: 0 auto;
}

/* 设置导航栏外部盒子 */
.nav_box{
    /* float: left; */
    width: 100%;
    height: 50px;
    /* background-color: aqua; */
    margin: auto;
    /* position: relative; */
}

.nav_box_lf{
    width: 15%;
    height: 50px;
    float: left;
    background-color: #89f097;
    margin: 0 auto;
    /* 转换为块元素 */
    display: block;
    text-align: center;
}

/* 设置导航栏 */
.nav{
    float: left;
    width: 70%;
    height: 50px;
    background-color: #89f097;
    margin: 0 auto;
    list-style:none;
    /* 设置弹性容器 */
    display: flex;
    position: relative;
}
.nav li{
     /* 设置li向左浮动，使菜单栏横向排列 */
    /* float: left; */
    /* height: 50px; */
    /* 将文字在父元素中垂直居中 */
    line-height: 50px;
    /* 设置增长系数 */
    flex-grow: 1;
}

/* 设置a的样式 */
.nav a{
    /* 将a转换为块元素 */
    display: block;
    /* 去除下划线 */
    text-decoration: none;
    /* 设置字体颜色 */
    color: #333333;
    /* 修改字体大小 */
    font-size: 18px;
    /* 文字加粗 */
    font-weight: bold;
    padding: 0 15px;
    text-align: center;
}

/* 设置鼠标移入的效果 */
.nav a:hover{
    background-color: #3F3F3F;
    color: #E8E7E3;
}

/* 设置下拉菜单ul样式 */

.nav_min_box{
    /* float: left; */
    width: 80%;
    height: 50px;
    /* background-color: aqua; */
    margin: auto;
    /* position: relative; */
}
/* 设置导航栏 */
.nav_min{
    
    width: 100%;
    height: 50px;
    background-color: #89f097;
    margin: 0 auto;
    list-style:none;
    /* 设置弹性容器 */
    display: flex;
    position: relative;
}
.nav_min li{
     /* 设置li向左浮动，使菜单栏横向排列 */
    /* float: left; */
    /* height: 50px; */
    /* 将文字在父元素中垂直居中 */
    line-height: 40px;
    /* 设置增长系数 */
    flex-grow: 1;
    

}
/* 设置a的样式 */
.nav_min a{
    /* 将a转换为块元素 */
    display: block;
    /* 去除下划线 */
    text-decoration: none;
    /* 设置字体颜色 */
    color: #333333;
    /* 修改字体大小 */
    font-size: 15px;
    /* 文字加粗 */
    font-weight: bold;
    padding: 0 15px;
    text-align: center;
}
/* 设置鼠标移入的效果 */
.nav_min a:hover{
    background-color: #6a7681;
    color: #b1e0f3;
}


/* 设置一个下拉菜单样式 */

#good_boxss{
    /* background-color: red; */
    position: relative;
}

.nav .goods-info{  
    width: 100%;
    height: 0;
    overflow: hidden;
    /* width: 100%; */
    background-color:#bfa; 
    /* 绝对定位 */
    position: absolute;
    top: 50px;
    left: 0;
    transition: height 0.3s;
    z-index: 9999;
}
.nav #good_boxss:hover ~ .goods-info,
.goods-info:hover {
    height: 40px;
    /* border-top: 1px solid rgb(224, 224, 224); */
    box-shadow: 0 5px 3px rgba(0, 0, 0, .2);
}


/* 设置搜索栏 */
.search-wrapper{
    width: 15%;
    height: 50px;
    float: left;
    /* background-color: red; */
    background-color: #89f097;
    
}

.search-wrapper .search-inp{
    box-sizing: border-box;
    width: 80%;
    border: none;
    float: left;
    padding: 5px 10px;
    margin: 5px 0;
    height: 40px;
    font-size: 16px;
    border: 1px solid rgb(224, 224, 224);
    outline: none;

}

/* 设置input获取焦点后的样式 */
.search-wrapper .search-inp:focus,
.search-wrapper .search-inp:focus + button{
    border-color: #FF6700;
}


.search-wrapper .search-btn{
    float: left;
    height: 40px;
    width: 20%;
    padding: 0;
    margin: 5px 0;
    border: none;
    background-color: #fff;
    color: #616161;
    font-size: 16px;
    border: 1px solid rgb(224, 224, 224);
    border-left: none;
}

.search-wrapper .search-btn:hover{
    background-color: #FF6700;
    color: white;
    border: none;
}


/* 设置轮播图外围样式 */
.matter_box{
    height: 600px;
    width: 100%;
    /* background-color: #ced8f7; */
}
/* 设置轮播图左侧 */
.matter_lf_box{
    float: left;
    height: 350px;
    width: 15%;
    /* background-color: #eb9cc1; */
}
/* 设置轮播图右侧 */
.matter_lr_box{
    float: left;
    height: 350px;
    width: 14.8%;
    /* background-color: #eb9cc1; */
}

/* 右侧 */
.BodyC-FirstScreen-R_a::-webkit-scrollbar {/*滚动条整体样式*/
    width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.BodyC-FirstScreen-R_a::-webkit-scrollbar-thumb{/*滚动条里面小方块*/
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba( 0, 0, 0, .1);
    background: #9e9e9e;
}

.BodyC-FirstScreen-R_a::-webkit-scrollbar-track{/*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #ededed00;
}

.BodyC-FirstScreen-R_a{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    width: 97%;
    height: 345px;
    overflow-y:auto;
    border-radius: 5px;
}
.BodyC-FirstScreen-R_a ul li:first-child{
    margin-top: 0;
}
.BodyC-FirstScreen-R_a ul li{
    margin-top: 5px;
    width: 100%;
    height: 150px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.BodyC-FirstScreen-R_a ul li img{
    width: 100%;
    height: 130px;
    transition: .5s;
    transform-origin: center;
}
.BodyC-FirstScreen-R_a ul li img:hover{
    width: 120%;
    height: 105%;
}
.BodyC-FirstScreen-R_a ul li p{
    text-align: center;
    color: #40406B ;
}

/* 设置轮播图下部 */
.matter_bottom{
    float: left;
    height: 250px;
    width: 100%;
    /* background-color: red; */
}
/* 左右滑动 */
.BodyC-huadong-box{
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.BodyC-huadong{
    position: absolute;
    left: 0px;
}
.huadong-back{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 30px;
    height: 30px;
    border-radius: 20px;
    color: white;
    z-index: 500;
    text-align: center;
    line-height: 30px;
    user-select:none;
    transition: .5s;
    cursor:pointer;
    display: none;
}
.huadong-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 30px;
    height: 30px;
    border-radius: 20px;
    color: white;
    z-index: 500;
    text-align: center;
    line-height: 30px;
    user-select:none;
    transition: .5s;
    cursor:pointer;
    display: none;

}
.BodyC-huadong ul{
    width: 300%;
}
.BodyC-huadong ul li{
    margin: 20px 10px;
    width: 300px;
    height: 210px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    float: left;
}
.BodyC-huadong ul li:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}
.BodyC-huadong ul li img{
    width: 100%;
    height: 180px;
    transition: .5s;
    transform-origin: center;
}
.BodyC-huadong ul li img:hover{
    width: 130%;
    height: 118%;
}
.BodyC-huadong ul li p{
    margin: 5px 10px;
    text-align: center;
}

/* 设置轮播图盒模型 */
.lbt_box{
    float: left;
    width: 69.9%;
    height: 350px;
    margin: auto;
}

/* 设置搜索框样式 */
#ssl{
    border: 1px solid #ccc;
    padding: 9px 9px;
    width: 330px;
    border-radius: 3px;
    padding-left:5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
/* 设置搜索栏按钮 */
#btn1{
    top: 5px;
    width: 85px;
    height: 33px;
    font-size: 20px;
}

/*浮动样式
 .nav a:hover {
box-shadow: 0 16px 32px 0 rgba(48, 55, 66, 0.15);
transform: translate(0,-5px);
transition-delay: 0s !important;
} */

/* 内容分类栏 */
.wenx{
    width: 96%;
    height: 350px;
    /* background-color: aliceblue; */
    margin: auto;
    
}
/* 第一类设置 */
.lf_box1{
    float: left;
    width: 50%;
    height: 350px;
    /* background-color: red; */
}
.ll_box1{
    float: left;
    width: 5px;
    height: 350px;
    background-color: #3F3F3F;
    margin: auto;
}
.lr_box1{
    float: left;
    width: 49%;
    height: 350px;
    /* background-color: blue; */
}
.keji{
    width: 96%;
    height: 350px;
    /* background-color: #ccc; */
    margin: auto;
}
/* 第二类设置 */
.lf_box2{
    float: left;
    width: 50%;
    height: 350px;
    /* background-color:blueviolet; */
}
.ll_box2{
    float: left;
    width: 5px;
    height: 350px;
    background-color: #3F3F3F;
    margin: auto;
}
.lr_box2{
    float: left;
    width: 49%;
    height: 350px;
    /* background-color: yellowgreen; */
}

.life{
    width: 96%;
    height: 350px;
    /* background-color: #E8E7E3; */
    margin: auto;
}
/* 第三类设置 */
.lf_box3{
    float: left;
    width: 50%;
    height: 350px;
    /* background-color:rgb(231, 17, 63); */
}
.ll_box3{
    float: left;
    width: 5px;
    height: 350px;
    background-color: #3F3F3F;
    margin: auto;
}
.lr_box3{
    float: left;
    width: 49%;
    height: 350px;
    /* background-color: rgb(19, 33, 228); */
}

.novel{
    width: 96%;
    height: 350px;
    /* background-color: #E8E7E3; */
    margin: auto;
}
/* 第四类设置 */
.lf_box4{
    float: left;
    width: 50%;
    height: 350px;
    /* background-color:rgb(17, 217, 231); */
}
.ll_box4{
    float: left;
    width: 5px;
    height: 350px;
    background-color: #3F3F3F;
    margin: auto;
}
.lr_box4{
    float: left;
    width: 49%;
    height: 350px;
    /* background-color: rgb(238, 107, 46); */
}

/* 设置文学类容器的样式 */
.wenx_list{
    overflow: hidden;
    float: right;
    width: 450px;
    height: 330px;
    /* margin-left:210px;*/
    margin-top: 10px;
    /* background-color: #ccc; */
    /* 将a转换为块元素 */
    /* display: block; */
    background-color: antiquewhite;
    /* 圆角边框 */
    border: none;
    border-radius: 20px;
    /* 过度延迟 */
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 550ms cubic-bezier(.02, .01, .47, 1);
    /* 边框阴影 */
    -webkit-box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
    box-shadow: 0 4px 16px rgba(48, 55, 66, 0.15);
}
.wenx_img{
    width: 100%;
    height: 300px;
    /* background-color: #89f097; */
}
.wenx_img a{
    text-align: center;
}
.wenx_img a img{
    width: 100%;
    height: 100%;
}

/* 设置文学类动画样式 */
.wenx_list_cube{
    float: right;
    width: 450px;
    height: 330px;
    /* margin-left:210px;*/
    margin-top: 10px;
    /* background-color: #ccc; */
    /* 将a转换为块元素 */
    /* display: block; */
    /* background-color: antiquewhite; */
    /* 圆角边框 */
    border: none;
    border-radius: 20px;
    /* 过度延迟 */
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 550ms cubic-bezier(.02, .01, .47, 1);
    /* 边框阴影 */
    /* -webkit-box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
    box-shadow: 0 4px 16px rgba(48, 55, 66, 0.15); */
}


/* 设置标题样式 */
.wenx_title{
    line-height: 35px;
    text-align: center;
    font-size: 30px;
}
/* 设置浮动样式 */
.wenx_list:hover {
box-shadow: 0 16px 32px 0 rgba(48, 55, 66, 0.15);
transform: translate(0,-5px);
transition-delay: 0s !important;
}
/* 统一去下划线 */
a{
    /* 去除下划线 */
    text-decoration: none;
}
/* 设置超链接 */
.wenx_list a{
    /* 设置颜色 */
    color: #40406B;
    /* 设置文字的加粗效果 */
    font-weight: bold;
    /* font-size: 30px; */
}

.cube_one {
    width: 200px;
    height: 200px;
    /* background-color: #bfa; */
    margin: 30px auto;
    /* 设置3d变形效果 */
    transform-style: preserve-3d;
    /* transform: rotateX(45deg) rotateZ(45deg); */
    animation: rotate 25s infinite linear;
    /* transform:rotateY(45deg) scaleZ(2); */
}
.cube_one>div {
    width: 200px;
    height: 200px;
    /* 为元素设置透明效果 */
    opacity: 0.9;
    position: absolute;
}
.cube_one>div>img {
    width: 100%;
    height: 100%;

}

.cube_two {
    width: 200px;
    height: 200px;
    /* background-color: #bfa; */
    margin: 30px auto;
    /* 设置3d变形效果 */
    transform-style: preserve-3d;
    /* transform: rotateX(45deg) rotateZ(45deg); */
    animation: rotate 15s infinite linear;
    /* transform:rotateY(45deg) scaleZ(2); */
    padding: 50px 0 0 0;
}

.cube_two>div {
    width: 200px;
    height: 200px;
    /* 为元素设置透明效果 */
    opacity: 0.9;
    position: absolute;
}
.cube_two>div>img {
    width: 100%;
    height: 100%;
}
.cube_three>div>img {
    width: 100%;
    height: 100%;
}
.cube_four>div>img {
    width: 100%;
    height: 100%;
}



.cube_three {
    width: 200px;
    height: 200px;
    /* background-color: #bfa; */
    margin: 30px auto;
    /* 设置3d变形效果 */
    transform-style: preserve-3d;
    /* transform: rotateX(45deg) rotateZ(45deg); */
    animation: rotate 20s infinite linear;
    /* transform:rotateY(45deg) scaleZ(2); */
    padding: 50px 0 0 0;
}

.cube_three>div {
    width: 200px;
    height: 200px;
    /* 为元素设置透明效果 */
    opacity: 0.9;
    position: absolute;

}

.cube_four {
    width: 200px;
    height: 200px;
    /* background-color: #bfa; */
    margin: 30px auto;
    /* 设置3d变形效果 */
    transform-style: preserve-3d;
    /* transform: rotateX(45deg) rotateZ(45deg); */
    animation: rotate 15s infinite linear;
    /* transform:rotateY(45deg) scaleZ(2); */
    padding: 50px 0 0 0;
}

.cube_four>div {
    width: 200px;
    height: 200px;
    /* 为元素设置透明效果 */
    opacity: 0.9;
    position: absolute;

}

img {
    vertical-align: top;
}

.cube_box1 {
    transform: rotateY(90deg) translateZ(100px);
}

.cube_box2 {
    transform: rotateY(-90deg) translateZ(100px);
}

.cube_box3 {
    transform: rotateX(90deg) translateZ(100px);
}

.cube_box4 {
    transform: rotateX(-90deg) translateZ(100px);
}

.cube_box5 {
    transform:rotateY(180deg) translateZ(100px);
}

.cube_box6 {
    transform: rotateY(0deg) translateZ(100px);
}

@keyframes rotate {
    form{
        transform:rotateX(0) rotateZ(0)
    }

    to{
        transform:rotateX(1turn) rotateZ(1turn)
    }
}





/* 设置科技类容器的样式 */
.keji_list{
    overflow: hidden;
    float: left;
    width: 450px;
    height: 330px;
    /* margin-left:350px; */
    margin-top: 10px;
    /* background-color: #ccc; */
    /* 将a转换为块元素 */
    /* display: block; */
    background-color: azure;
    /* 圆角边框 */
    border: none;
    border-radius: 20px;
    /* 过度延迟 */
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 550ms cubic-bezier(.02, .01, .47, 1);
    /* 边框阴影 */
    -webkit-box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
    box-shadow: 0 4px 16px rgba(48, 55, 66, 0.15);
}
.keji_img{
    width: 100%;
    height: 300px;
    /* background-color: #89f097; */
}
.keji_img a{
    text-align: center;
}
.keji_img a img{
    width: 100%;
    height: 100%;
}
/* 设置科技类动画的样式 */
.keji_list_cube{
    float: left;
    width: 450px;
    height: 330px;
    /* margin-left:350px; */
    margin-top: 10px;
    /* background-color: #ccc; */
    /* 将a转换为块元素 */
    /* display: block; */
    /* background-color: azure; */
    /* 圆角边框 */
    border: none;
    border-radius: 20px;
    /* 过度延迟 */
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 550ms cubic-bezier(.02, .01, .47, 1);
    /* 边框阴影 */
    /* -webkit-box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
    box-shadow: 0 4px 16px rgba(48, 55, 66, 0.15); */
}

/* 设置标题样式 */
.keji_title{
    line-height: 35px;
    text-align: center;
    font-size: 30px;
}
/* 设置浮动样式 */
.keji_list:hover {
box-shadow: 0 16px 32px 0 rgba(48, 55, 66, 0.15);
transform: translate(0,-5px);
transition-delay: 0s !important;
}
/* 统一去下划线 */
a{
    /* 去除下划线 */
    text-decoration: none;
}
/* 设置超链接 */
.keji_list a{
    /* 设置颜色 */
    color: #40406B;
    /* 设置文字的加粗效果 */
    font-weight: bold;
}



/* 设置生活类容器的样式 */
.life_list{
    overflow: hidden;
    float: right;
    width: 450px;
    height: 330px;
    /* margin-left:210px; */
    margin-top: 10px;
    /* background-color: #ccc; */
    /* 将a转换为块元素 */
    /* display: block; */
    background-color: antiquewhite;
    /* 圆角边框 */
    border: none;
    border-radius: 20px;
    /* 过度延迟 */
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 550ms cubic-bezier(.02, .01, .47, 1);
    /* 边框阴影 */
    -webkit-box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
    box-shadow: 0 4px 16px rgba(48, 55, 66, 0.15);
}
/* 设置标题样式 */
.life_title{
    line-height: 35px;
    text-align: center;
    font-size: 30px;
}
/* 设置浮动样式 */
.life_list:hover {
box-shadow: 0 16px 32px 0 rgba(48, 55, 66, 0.15);
transform: translate(0,-5px);
transition-delay: 0s !important;
}
.life_img{
    width: 100%;
    height: 300px;
    /* background-color: #89f097; */
}
.life_img a{
    text-align: center;
}
.life_img a img{
    width: 100%;
    height: 100%;
}
/* 统一去下划线 */
a{
    /* 去除下划线 */
    text-decoration: none;
}
/* 设置超链接 */
.life_list a{
    /* 设置颜色 */
    color: #40406B;
    /* 设置文字的加粗效果 */
    font-weight: bold;
    
}


/* 设置小说类容器的样式 */
.novel_list{
    overflow: hidden;
    width: 450px;
    height: 330px;
    /* margin-left:350px; */
    margin-top: 10px;
    /* background-color: #ccc; */
    /* 将a转换为块元素 */
    /* display: block; */
    background-color: azure;
    /* 圆角边框 */
    border: none;
    border-radius: 20px;
    /* 过度延迟 */
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 550ms cubic-bezier(.02, .01, .47, 1);
    /* 边框阴影 */
    -webkit-box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
    box-shadow: 0 4px 16px rgba(48, 55, 66, 0.15);
}
/* 设置标题样式 */
.novel_title{
    line-height: 35px;
    text-align: center;
    font-size: 30px;
}
.novel_img{
    width: 100%;
    height: 300px;
    /* background-color: #89f097; */
}
.novel_img a{
    text-align: center;
}
.novel_img a img{
    width: 100%;
    height: 100%;
}
/* 设置浮动样式 */
.novel_list:hover {
box-shadow: 0 16px 32px 0 rgba(48, 55, 66, 0.15);
transform: translate(0,-10px);
transition-delay: 0s !important;
}
/* 统一去下划线 */
a{
    /* 去除下划线 */
    text-decoration: none;
}
/* 设置超链接 */
.novel_list a{
    /* 设置颜色 */
    color: #40406B;
    /* 设置文字的加粗效果 */
    font-weight: bold;
}


/* 设置推荐类容器 */
.recomend_maxbox{
    width: 100%;
    height: 1300px;
    /* background-color: #9beaf0; */
}

/* 设置推荐类标题 */
.recomend_title{
    width: 100%;
    height: 100px;
    /* background-color: #E8E7E3; */
}
.recomend_title .xian{
    width: 100%;
    height: 1px;
    background-color: #333333;
}
/* 设置文字样式 */
.recomend_h{
    font-size: 50px;
    color: #2B1A60;
    text-align: center;
    margin: auto;
    padding: 35px 0;
    font-weight: bold;
    font-family: STKaiti;
}

/* 设置推荐类h1 */
.recomend_onebox{
    width: 100%;
    height: 400px;
    /* background-color: #40406B; */
    padding: 0 10px;
    /* float: left; */
}

/* 设置h1左侧容器 */
.onerlf_list{
    overflow: hidden;
    float: left;
    width: 66%;
    height: 380px;
    background-color: #FAEBD7;
    /* margin-left:210px; */
    margin-top: 10px;
    /* background-color: #ccc; */
    /* 将a转换为块元素 */
    /* display: block; */
    /* background-color: antiquewhite; */
    /* 圆角边框 */
    border: none;
    border-radius: 20px;
    /* 过度延迟 */
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 550ms cubic-bezier(.02, .01, .47, 1);
    /* 边框阴影 */
    -webkit-box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
    box-shadow: 0 4px 16px rgba(48, 55, 66, 0.15);
}
.onerlf_list:hover {
    box-shadow: 0 16px 32px 0 rgba(48, 55, 66, 0.15);
    transform: translate(0,-10px);
    transition-delay: 0s !important;
}
/* 设置图片容器 */
.onelf_img{
    float: left;
    width: 100%;
    height: 350px;
    /* margin: 10px; */
}
/* 设置图片 */
.onelf_img a{
    float: left;
    width: 100%;
    height: 100%;
}
.onelf_img a img{
    width: 100%;
    height: 100%;
}
/* 设置推荐类字体样式 */
.recomend_text{
    font-size: 30px;
    text-align: center;
    font-style: normal;
}

/* 设置h1右侧容器 */
.onerlr_list{
    overflow: hidden;
    float: right;
    width: 33%;
    height: 380px;
    background-color: #FAEBD7;
    /* margin-left:210px; */
    margin-top: 10px;
    /* background-color: #ccc; */
    /* 将a转换为块元素 */
    /* display: block; */
    /* background-color: antiquewhite; */
    /* 圆角边框 */
    border: none;
    border-radius: 20px;
    /* 过度延迟 */
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 550ms cubic-bezier(.02, .01, .47, 1);
    /* 边框阴影 */
    -webkit-box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
    box-shadow: 0 4px 16px rgba(48, 55, 66, 0.15);
}
.onerlr_list:hover {
    box-shadow: 0 16px 32px 0 rgba(48, 55, 66, 0.15);
    transform: translate(0,-10px);
    transition-delay: 0s !important;
}

/* 设置图片容器 */
.onelr_img{
    float: left;
    width: 100%;
    height: 350px;
}
/* 设置图片 */
.onelr_img a{
    float: left;
    width: 100%;
    height: 100%;
}
.onelr_img a img{
    width: 100%;
    height: 100%;
}


/* 设置推荐类h2 */
.recomend_twobox{
    width: 100%;
    height: 400px;
    /* background-color: #dac583; */
    padding: 0 10px;
}

/* 设置h2左侧容器 */
.tworlf_list{
    float: left;
    width: 33%;
    height: 380px;
    background-color: #FAEBD7;
    overflow: hidden;
    /* margin-left:210px; */
    margin-top: 10px;
    /* background-color: #ccc; */
    /* 将a转换为块元素 */
    /* display: block; */
    /* background-color: antiquewhite; */
    /* 圆角边框 */
    border: none;
    border-radius: 20px;
    /* 过度延迟 */
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 550ms cubic-bezier(.02, .01, .47, 1);
    /* 边框阴影 */
    -webkit-box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
    box-shadow: 0 4px 16px rgba(48, 55, 66, 0.15);
}
.tworlf_list:hover {
    box-shadow: 0 16px 32px 0 rgba(48, 55, 66, 0.15);
    transform: translate(0,-10px);
    transition-delay: 0s !important;
}
/* 设置图片容器 */
.twolf_img{
    float: left;
    width: 100%;
    height: 350px;
}
/* 设置图片 */
.twolf_img a{
    float: left;
    width: 100%;
    height: 100%;
}
.twolf_img a img{
    width: 100%;
    height: 100%;
}

/* 设置h2右侧容器 */
.tworlr_list{
    float: right;
    width: 66%;
    height: 380px;
    background-color: #FAEBD7;
    overflow: hidden;
    /* margin-left:210px; */
    margin-top: 10px;
    /* background-color: #ccc; */
    /* 将a转换为块元素 */
    /* display: block; */
    /* background-color: antiquewhite; */
    /* 圆角边框 */
    border: none;
    border-radius: 20px;
    /* 过度延迟 */
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 550ms cubic-bezier(.02, .01, .47, 1);
    /* 边框阴影 */
    -webkit-box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
    box-shadow: 0 4px 16px rgba(48, 55, 66, 0.15);
}
.tworlr_list:hover {
    box-shadow: 0 16px 32px 0 rgba(48, 55, 66, 0.15);
    transform: translate(0,-10px);
    transition-delay: 0s !important;
}
/* 设置图片容器 */
.twolr_img{
    float: left;
    width: 100%;
    height: 350px;
}
/* 设置图片 */
.twolr_img a{
    float: left;
    width: 100%;
    height: 100%;
}
.twolr_img a img{
    width: 100%;
    height: 100%;
}
/* 设置推荐类h3 */
.recomend_threebox{
    width: 100%;
    height: 400px;
    /* background-color:red; */
    padding: 0 0 0 10px;
}

/* 设置h3左侧容器 */
.threebox_lf{
    overflow: hidden;
    float: left;
    width: 33%;
    height: 380px;
    background-color: #F0FFFF;
    /* margin-left:210px; */
    margin-top: 10px;
    /* background-color: #ccc; */
    /* 将a转换为块元素 */
    /* display: block; */
    /* background-color: antiquewhite; */
    /* 圆角边框 */
    border: none;
    border-radius: 20px;
    /* 过度延迟 */
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 550ms cubic-bezier(.02, .01, .47, 1);
    /* 边框阴影 */
    -webkit-box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
    box-shadow: 0 4px 16px rgba(48, 55, 66, 0.15);
}
.threebox_lf:hover {
    box-shadow: 0 16px 32px 0 rgba(48, 55, 66, 0.15);
    transform: translate(0,-10px);
    transition-delay: 0s !important;
}
/* 设置图片容器 */
.threelf_img{
    float: left;
    width: 100%;
    height: 350px;
}
/* 设置图片 */
.threelf_img a{
    float: left;
    width: 100%;
    height: 100%;
}
.threelf_img a img{
    width: 100%;
    height: 100%;
}


/* 分隔中间和右侧 */
.lll{
    float: right;
    width: 0.5%;
    height: 380px;
}

/* 设置h3中部容器 */
.threebox_ll{
    overflow: hidden;
    float: right;
    width: 33%;
    height: 380px;
    background-color: #F0FFFF;
    margin: 0 auto;
    /* margin-left:210px; */
    margin-top: 10px;
    /* background-color: antiquewhite; */
    /* 圆角边框 */
    border: none;
    border-radius: 20px;
    /* 过度延迟 */
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 550ms cubic-bezier(.02, .01, .47, 1);
    /* 边框阴影 */
    -webkit-box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
    box-shadow: 0 4px 16px rgba(48, 55, 66, 0.15);
}
.threebox_ll:hover {
    box-shadow: 0 16px 32px 0 rgba(48, 55, 66, 0.15);
    transform: translate(0,-10px);
    transition-delay: 0s !important;
}
/* 设置图片容器 */
.threell_img{
    float: left;
    width: 100%;
    height: 350px;
}
/* 设置图片 */
.threell_img a{
    float: left;
    width: 100%;
    height: 100%;
}
.threell_img a img{
    width: 100%;
    height: 100%;
}

/* 设置h3右侧容器 */
.threebox_lr{
    overflow: hidden;
    float: right;
    width: 33%;
    height: 380px;
    background-color: #F0FFFF;
    /* margin-left:210px; */
    margin-top: 10px;
    /* background-color: #ccc; */
    /* 将a转换为块元素 */
    /* display: block; */
    /* background-color: antiquewhite; */
    /* 圆角边框 */
    border: none;
    border-radius: 20px;
    /* 过度延迟 */
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 550ms cubic-bezier(.02, .01, .47, 1);
    /* 边框阴影 */
    -webkit-box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
    box-shadow: 0 4px 16px rgba(48, 55, 66, 0.15);
}
.threebox_lr:hover {
    box-shadow: 0 16px 32px 0 rgba(48, 55, 66, 0.15);
    transform: translate(0,-10px);
    transition-delay: 0s !important;
}
/* 设置图片容器 */
.threelr_img{
    float: left;
    width: 100%;
    height: 350px;
}
/* 设置图片 */
.threelr_img a{
    float: left;
    width: 100%;
    height: 100%;
}
.threelr_img a img{
    width: 100%;
    height: 100%;
}


/* 设置名言盒子 */
.miny_box{
    width: 100%;
    /* background-color: #9cbeeb; */
    height: 130px;
}

/* 设置名言样式 */
.miny_box_title{
    font-size: 45px;
    color: #2B1A60;
    text-align: center;
    margin: auto;
    padding: 35px 0;
    font-weight: bold;
}

/*site footer bottom*/
.site-footer {
    height: 600px;
	background-color: #16172E;
}


.site-footer__bottom {
	background-color: #0E0F1D;
	padding-top: 23px;
	padding-bottom: 23px;
}

.site-footer__bottom .container {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

@media (max-width: 480px) {
	.site-footer__bottom .container {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

.site-footer__links {
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.site-footer__links a {
	font-size: 15px;
	color: #cdced1;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.site-footer__links a:hover {
	color: #ff5860;
}

.site-footer__links li+li::before {
	content: '|';
	font-size: 15px;
	color: #cdced1;
	margin-left: 5px;
	margin-right: 5px;
}

.site-footer__copy {
	margin: 0;
	font-size: 15px;
	color: #cdced1;
}

.site-footer__copy a {
	color: #ff5860;
}

@media (max-width: 480px) {
	.site-footer__copy {
		margin-bottom: 10px;
	}
}

.site-footer__brand-carousel {
	padding-top: 52px;
	padding-bottom: 32px;
}

.site-footer__brand-hr {
	margin: 0;
	border-color: rgba(255, 255, 255, 0.15);
	border-width: 1px;
}
.col-lg-5{
    float: left;
    width: 600px;
    height: 500px;
    /* background-color: #89f097; */
}
.col-lg-4{
    float: left;
    width: 250px;
    height: 500px;
    /* background-color: #89f097; */
}
.col-lg-3{
    float: left;
    width: 250px;
    height: 500px;
    margin: auto;
    /* background-color: #89f097; */
}
.container_one{
    width: 1100px;
    height: 100px;
}
.site-footer__bottom{
    height: 120px;
}
.container_two{
    margin: auto;
    width: 1100px;
    height: 10px;
}
.site-footer__upper{
    margin: auto;
    width: 1100px;
    height: 600px;
}
.site-footer__copy{
    float: left;
    width: 475px;
    height: 50px;
    line-height: 50px;
}
.site-footer__links{
    width: 150px;
    height: 50px;
    float: right;
}

.miny_h2{
    font-family: STKaiti;
}


